html {
    height: 100%;
	background-image:url(../Images/login_background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow-x: hidden;
}

body{
	height: 100%;
}


.create_user_page {
	position: relative;
	height: 100%;
	width: 100%;
}

#create_user_form {
	left: 32%;
	top: 18%;
	position: absolute;
	background-color: oldlace;
	margin: 15px;
	padding: 10px;
	width: 35%;
	text-align: center;
	border-width: 2px;
	border-style: solid;
}

input {
	display: inline-block;
}

#username, #password, #check_password {
	width: 40%;
	padding: 7px;
	margin: 3px;
}