html, body {
	background-color: Beige;
}

p {
	word-wrap: break-word;
}

.recipe{
	margin: .5%;
	width: 18.5%;
	height: 350px;
	border: 1px;
	border-style: solid;
	background-color: white;
	
}

.topRecipes {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}


img {
	height: 150px;
	width: 100%;
	padding: 10px;
}

#next {
	float: right;
}

#previous {
	float: left;
}

#previous, #next {
  color: white;
  background-color: cornflowerBlue;
  text-align: center;
  padding: 40px 50px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cornflowerBlue;
}

li {
  float: left;
  font-size: 30px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 50px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

#filter {
	padding: 10px;
}

