html, body {
	background-color: Beige;
}

p {
	word-wrap: break-word;
}

.recipe{
	margin: .5%;
	width: 18.5%;
	height: 350px;
	border: 1px;
	border-style: solid;
	background-color: white;
	
}

.topRecipes {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}


img {
	height: 150px;
	width: 100%;
}

#next {
	float: right;
}

#previous {
	float: left;
}

#previous, #next {
  color: white;
  background-color: cornflowerBlue;
  text-align: center;
  padding: 40px 50px;
  text-decoration: none;
}

