html, body {
	width: 100%;
	height: 100%;
}

p {
	word-wrap: break-word;
}

.recipe{
	margin: .5%;
	width: 18%;
	height: 50%;
	position: relative;
	border: 1px;
	border-style: solid;
	display: inline-block;
}

.fiveRecipes{
	position: absolute;
	height: 100%;
	width: 100%;
}

img {
	height: 150px;
	width: 100%;;
	text-align: center;
}