
body {
		background-image:url(../Images/add_recipe_background1.jpg);
		background-size: 100% 110%;
		background-repeat: no-repeat;
		overflow-x: hidden;
		
}

.name {
	position: relative;
	height: 920px;;
}

#name_position {
	position: absolute;
	left: 16%;
	top: 2%
}

#description_position {
	position: absolute;
	height: 15%;
	width: 20%;
	left: 16%;
	top: 8%;
	overflow-y: auto;
	
}

#time_position {
	position: absolute;
	left: 16%;
	top: 25%;
}

#ingredient_position {
	position: absolute;
	font-style: italic;
	left: 16%;
	top: 30%;
}

#instruction_list {
	height: 90%;
	width: 70%;
	overflow-y: auto;
	overflow-x: hidden;
}

#instruction_position {
	position: absolute;
	height: 80%;
	left: 52%;
	top: 2%;
	width: 32%;
	font-size: 18px;
}

#image {
	height: 250px;
	width: 250px;
}

#image_position {
	position: absolute;
	left: 32%;
	top:5%;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cornflowerBlue;
}

.nav{
  float: left;
  font-size: 30px;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 50px;
  text-decoration: none;
}

.nav a:hover {
  background-color: black;
}